/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
  align-self: center;
}

input,
select,
option,
textarea {
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  width: 20rem;
}

button {
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  min-width: 5rem;
  max-width: 10rem;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* Hub Button */

.hub-button {
  all: unset;
  font-size: 3rem;
  font-weight: bold;
  align-self: center;
}

.hub-button:hover {
  filter: opacity(0.8);
  cursor: pointer;
}

/* Change Theme */

.change-theme {
  align-self: flex-end;
  width: fit-content;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.change-theme > img {
  height: 100%;
}

.change-theme:hover {
  filter: opacity(0.8);
  cursor: pointer;
}

/* MAIN */

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

/* FOOTER */

footer {
  flex: 0 1 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 4rem;
}

/* LOGIN */

.login {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  max-width: 10rem;
}

#name {
  width: 15rem;
}

#submitName {
  width: 5rem;
}

/* GAMES HUB */

.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}

.game {
  background-color: white;
  aspect-ratio: 1;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* TIC-TAC-TOE */

.squares-container {
  flex: 1 1 auto;
  display: grid;
  height: max-content;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr 1fr 1fr;
}

.square {
  background-color: white;
  aspect-ratio: 1;
  border: 0.5rem solid black;
}
